.cache
.*
*.pyc
*~
*.class
*#
.metadata/.lock
.metadata/.plugins
.settings
.scala_dependencies
bin
ducttape.jar
syntax/tutorial/[0-9]*-*/[a-zA-Z]*
scaladoc
project/boot
target/
dist/
lib/scala-library.jar
syntax/tutorial/[0-9]*-*/[0-9]-[a-zA-Z]*/
lane-jar.sh
results.txt
log
tmp/
/*.tape

!./lib/**/*.jar
!./lib/**

/tutorial/tutorial.aux
/tutorial/tutorial.tex
/tutorial/tutorial.toc
/tutorial/tutorial.log
/tutorial/texput.log