[VARS]
x = 5

[TOOLS]
# For now, repos and builders are conflated as TOOL VERSIONERS
moses.REPO = disk /shared/code/moses

# TODO: How do we record HEAD's actual revision?
loony.REPO = svn svn://loonybin.sourceforge.net HEAD

[RESOURCES]
big.VMEM = 32gb
big.CPUS = 8

[MACHINE]
# Should we allow the workflow to specify general machine types like mrcluster, pbscluster, local
blacklight.SUBMIT = pbs
blacklight.HOSTNAME = blacklight.psc.edu

[OVERRIDES]
# Specify that certain vertices should run on machines other than their defaults

[INPUTS]
g1.step1.a = ~jhclark/myFile

# OR we can use the packing syntax for single files
# TODO: Regexes can't handle multi-line lists... yet
g1.step1.b = (whichFile: small = ~jhclark/myFile.small, big = ~/jhclark/myFile.big)

# OR we can even specify multiple things at once in realizations directly from the config
# ...as long as the workflow specifies that these inputs come from $CONFIG
whichConfigThing PACK <big <small >lm >>n:
  choiceA: $>lm=$<big n=5
  choiceA: $>lm=$<small n=4

# TODO: How do we define resource sets shared between vertices?
# TODO: But also allow these to be specified directly on vertices in the config
#       ... and in the main makefile [via annoations?] (allow as much or little separation as you like)

# TODO: Should we be able to specify a record file that will exactly reproduce a set of experiments?
# TODO: UI should allow user to ignore certain irreproducibilities, mark them as "not an issue", but remember them and allow them to be invalidated later