body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  border-collapse: collapse;
  border-spacing: 0;
  font: inherit;
}

#logo {
  font-family: "Lucida Console", Monospace, sans;
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
}
#logo a {
  color: #000000;
  text-decoration: none;
}

// dropkick menu items
.dk_options ul {
  list-style: none;
  list-style-position: outside;
}
.dk_options ul li {
  margin-left: -40px;
}

.code {
  background: #F8F8F8;
  border:1px solid #CACACA;
  padding: 5px;
  margin: 5px;
}
	
#header {
  background: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
  background-image: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
  margin: 0px;
  padding: 10px 0px;
  border: 0;
  width: 100%;

  border-bottom:1px solid #CACACA;
  box-shadow:0 1px 0 #fff;
}

#footer_gray {
  width: 100%;
  //min-height: 120px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: inset 0 -1px 0 white;
  background-color: #F8F8F8;
  padding: 10px 0px 0px;
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif;
  overflow: hidden;
  clear: none;
}
#footer_gray h4 { border-bottom: thin solid #E1E1E1; }

.footer_list {
  width: 164px;
  margin: 20px 10px;
  float: left;
}

.container {
  margin: 0px 10px;
}

.content {
  margin: 10px 10px;
  padding: 10px 10px;
}

.yellow_bar {
  background: #F8FFC9;
}

.red_bar {
  background: #F06C6C; //#CF2121;
}

.green_bar {
  background: #91E3A4;
}

.blue_bar {
  background: #E6F1F6;
}

.ringer {
  padding: 3px;
  background: #EEE;
  border-radius: 5px;
}

.pane {
  clear: both;
}

.box {
  margin: 0 0 0 0;
  border: 1px solid #C5D5DD;
  border-radius: 5px;
  font-color: #000000;
  display: block;
}

.bar_text {
  font-family: "Lucida Console", Monospace, sans;
  color: #000000;
  //color: #484848;
  margin: 5px 10px;
}

.box_content {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 5px 10px;
  border: 0;
  color: #444;
  background: white;
  border-top: 1px solid #D8E6EC;
}





// buttons:
.scope {
  float: left;
  list-style: none;
  margin-right: 10px;
}
.minibutton.switcher > span {
  border-left: 1px solid #6A9FD3;
  box-shadow: #3C74AB -1px 0 0;
  padding: 0px 26px 0px 5px;
}
.minibutton {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-color: #D4D4D4;
  background: #DC5F59;
  background: -moz-linear-gradient(#DC5F59,#B33630);
  background: -webkit-linear-gradient(#DC5F59,#B33630);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc5f59',endColorstr='#b33630')";
  padding: 0px 10px;
  border: 1px solid;
  border-radius: 3px;
}

